<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>GENLog</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/public/theme.css" />
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container-fluid">
      <div id="app">
        <div v-if="error" class="alert alert-danger">
          {{error}}
          <button type="button" class="close" @click="closeErrorBanner">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="p-2">
          <div class="row border-bottom align-items-center">
            <div class="col-2 "><strong>time</strong></div>
            <div class="col-1 "><strong>app</strong></div>
            <div class="col-1 "><strong>type</strong></div>
            <div class="col-3 "><strong>message</strong></div>
            <div class="col-5 "><strong>payload</strong></div>
          </div>
          <div v-for="(log, i) in logs" class="row log-item" :key="'log'+i">
            <div class="col-2 ">{{log.time}}</div>
            <div class="col-1 ">{{log.app}}</div>
            <div class="col-1 ">{{log.type}}</div>
            <div class="col-3 ">{{log.message}}</div>
            <div class="col-5 ">
              <code>{{log.payload}}</code>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/public/js/socket.io.slim.js"></script>
    <script>
        const socket = io('/');
    </script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>

    <script src="/public/js/main.js"></script>
  </body>
</html>
