body {
    background: #ececec;
    /* font-size: 11px !important; */
}

.container {
    padding-top: 1rem;
}

.log-item {
    border-bottom: 1px solid #e0e0e0;
}
.log-item:hover {
    background-color: #d7f4ff;
}

.payload-col {
    max-height: 150px;
    overflow-y: scroll;
}

.log-headers div, .log-item div {
    padding-left: 3px;
    padding-right: 3px;
    /* border-right: 1px solid #dfd7c8;
    border-bottom: 1px solid #dfd7c8; */
}